{% extends 'template.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
    <div >LISTE DES ETUDIANTS</div>
    <a href="{{ path('etudiant.add')}}">Ajouter un etudiant</a>
<table class="table">
   <tr>

       <th>NOM</th>
       <th>PRENOM</th>
       <th>SECTION</th>
       <th>ACTION</th>
   </tr>
    {% for e in etudiants%}
        {% if loop.index is odd %}
        <tr class="alert alert-success "  >

            <td onclick="changeColor(this)">{{e.nom}}</td>
            <td onclick="changeColor(this)">{{e.prenom}}</td>
            {%if e.section%}
            <td onclick="changeColor(this)">{{e.section}}</td >
                {%else%}
                    <td onclick="changeColor(this)">Etudiant non affecte encore a une section</td>
            {%endif%}
            <td onclick="changeColor(this)"> <a href="{{path   ('etudiant.add',{id:e.id}   )}}">EDIT</a>
                <a href="{{path    ('etudiant.remove',{id:e.id})  }}">DELETE </a></td>
        </tr>
        {%else%}
            <tr class="alert alert-warning "  >

                <td onclick="changeColor(this)">{{e.nom}}</td>
                <td onclick="changeColor(this)">{{e.prenom}}</td>
                {%if e.section%}
                    <td onclick="changeColor(this)">{{e.section}}</td>
                {%else%}
                    <td onclick="changeColor(this)">Etudiant non affecte encore a une section</td >
                {%endif%}
                <td onclick="changeColor(this)"> <a href="{{path   ('etudiant.add',{id:e.id}   )}}">EDIT </a>
                    <a href="{{path('etudiant.remove',{id:e.id})}}">DELETE </a></td >
            </tr>
        {%endif%}

    {%endfor%}
</table>
    <script src="{{ asset('assets/script.js') }}"></script>
{% endblock %}
