{% extends 'template.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<table class="table">
   <tr>
       <th>ID</th>
       <th>NOM</th>
       <th>PRENOM</th>
       <th>SECTION</th>
       <th>ACTION</th>
   </tr>
    {% for e in etudiants%}
        {% if loop.index is odd %}
        <tr class="alert alert-success "  >
            <th >{{e.id}}</th>
            <th>{{e.nom}}</th>
            <th>{{e.prenom}}</th>
            {%if e.section%}
            <th>{{e.section}}</th>
                {%else%}
                    <th>Etudiant non affecte encore a une section</th>
            {%endif%}
            <th> <a href="{{path('etudiant.update',{'id':e.id,'nom':e.nom,'prenom':e.prenom,'section':e.section}])}}">EDIT </a>
                <a href="{{path('etudiant.remove',{'id':e.id})}}">DELETE </a></th>
        </tr>
        {%else%}
            <tr class="alert alert-info "  >
                <th >{{e.id}}</th>
                <th>{{e.nom}}</th>
                <th>{{e.prenom}}</th>
                {%if e.section%}
                    <th>{{e.section}}</th>
                {%else%}
                    <th>Etudiant non affecte encore a une section</th>
                {%endif%}
                <th> <a href="{{path('etudiant.update',{'id':e.id,'nom':e.nom,'prenom':e.prenom,'section':e.section}])}}">EDIT </a>
                    <a href="{{path('etudiant.remove',{'id':e.id})}}">DELETE </a></th>
            </tr>
        {%endif%}

    {%endfor%}
</table>
{% endblock %}
